---
layout: default
---

<div class="home">

  <h1 class="page-heading">Couchsurfing for Hackers, by Hackers</h1>

  <table class="post-list">
    <thead>
        <th>Hacker</th>
        <th>City</th>
        <th>Country</th>
        <th>Social</th>
        <th>Info</th>
    </thead>
    <tbody>
    {% for couch in site.couches %}
    <tr>
        <td>
            {% assign name = couch.relative_path|remove:"_couches/"|remove_first:".md" %}
            <a href="{{couch.url}}" title="{{name}}">
            {{ name }}
            </a>
        </td>
        <td>{{couch.city}}</td>
        {% assign country = couch.country | upcase %}
        <td>{{site.data.countries[country] | downcase | capitalize}}</td>
        <td>{% include social.html tooltip-direction="e" %}</td>
        <td>
            {% if page.url == '/index.html' %}
            {{couch.content | strip_html | truncatewords:20 | remove: '...'}}
            <a href="{{couch.url}}" title="Read More">...</a>
            {% else %}
            {{couch.content}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div>
  You can click on the name to see the complete info provided.
  We also serve all the information over our API at
  <a href="/couches.json">/couches.json</a>
  <p>
    <br>
    <a class="btn" href="/add.html" title="Add your couch">Add your Couch</a>
  </p>
  </div>
</div>
